body{
    background-color:#f9f9f9;
    font-size:16px;
    color:#444;
    font-family: sans-serif;
}
 
.content{
    width: 100%;
    margin: 5px auto;
    float: left;
}
 
/*header*/
header{
    background-color: white;
    padding: 14px 16px;;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin: 0px 10px 20px 10px;
}
 
header h1.judul{
    text-align: center;
    color: #d13030 ;
}
header h3.deskripsi{
    text-align: center; 
}
 
/*menu navigasi*/
.menu{
    background-color: #d13030;
    border: 1px solid #f0f0f0;
    border-radius: 8px; 
    margin-bottom: 10px;
    width: 100%;
}
 
div.menu ul {
    list-style:none;
    overflow: hidden;
}
 
 
div.menu ul li {
    float:left;     
    text-transform:uppercase;
}
 
div.menu ul li a {
    display:block;  
    padding:0 20px;
    text-decoration:none;
    color:#fff;
    font-family: sans-serif;
    font-size:13px;
    font-weight:600;
    transition:all 0.3s ease-in-out;
    width: 100%; 
}
 
div.menu ul li a:hover,
div.menu ul li a.hoverover {    
    cursor: pointer; 
    color:#fffcfc; 
}
 
 
div.badan{
    background-color: white;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
 
div.halaman{
    text-align: justify ;
    padding: 30px 20px; 
    background-color: white;

}
.column {
  float: left;
  flex: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: flex;
}

#footer{
    text-align: center;
    padding: 20px;
    background-color: #d13030;
    
}